@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
}


hr {
  display: block;      
  border: 0;
  border-top: 2px solid #00000033; 
  margin-top: 0px 0;
  width: 90%;          
}

.header {
  font-size: 50px;
  font-weight: 1000;
  text-align: left;
  margin: 0px;
  color: #000000;
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  gap: 0px;
}


.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
  outline: 3px solid #00000033;
}

.profile-icon {
  width: 55px;
  height: 55px;
  transition: transform 0.3s cubic-bezier(.01,.69,.55,1);
}

.profile-icon:hover {
  transform: scale(1.1);
}

.header2 {
  font-size: 45px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-header {
  font-size: 45px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bolder;
}

.gray-script {
  font-size: 17px;
  color: #aaaaaaff;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: -20px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 0px;
  padding: 30px;
}

.skill-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0px;
  padding: 30px;
}

.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  margin-left: 20px;
  gap: 5px;
}

.box3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 85%

}

.skill-box2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 320px;
  height: 75px;
  padding: 5px;
}

.skill-box3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px;
  height: 75px;
}

.custom-shape-divider-top-1770912374 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin: 0px 0;
}

.script {
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    padding: 5px;
    margin-top: -10px;
    text-align: left;
}

.vertical-line {
    font-size: 100px;
    color: #00000033;
    margin: 0 0px;
    user-select: none;
}

.divider {
    width: 85%;
    border-top: 2px solid #00000033;
    margin-bottom: 30px;
}

.vertical-spacer {
    height: 50px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 10px;
    outline-color: #000000;
    outline-width: 2px;
    outline-style: solid;
    text-align: center;
    width: 42%;
    min-height: 80px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(.01,.69,.55,1);
}

.skill-card.show {
    opacity: 1;
    transform: translateY(0);
}

.skill-card:hover {
    transform: translateY(-3px) scale(1.03);
}

.skill-box1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 0px;
}

#skill-card-react {
    width: 85%;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.skill-name {
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
}

.skill-divider {
    width: 100%;
    border-top: 2px solid #00000033;
    margin: 10px 0;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1%;
    row-gap: 15px;
}

.vertical-divider {
  width: 2px;
  height: 80px;
  background-color: #00000033;
  margin: 0 15px;

}
